.slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 105px auto 15px auto;
    max-width: 1860px;    
    &__picture {
        width: 100%;
        max-height: 50%;
        border-radius: 25px;
    } 
}
    
.slider {
    width: 100%;
    margin: auto;
    img {
        width: 100%;
        object-fit: cover;
    }
}
    
.arrow {
    position: absolute;
    width: 47px;
    height: 79px;
}
    
.arrowLeft {
    left: 3%;
}
    
.arrowRight {
    right: 3%;
}
    
.no-arrow {
    content-visibility: hidden;
}
    
.page-count {
    color: $white;
    font-size: 18px;
    position: absolute;
    bottom: 3%;
}