.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 105px auto 15px auto;
    max-width: 1860px;
}

.slider-container,
.slider img {
    height: 750px;
    border-radius: 25px;
}

.slider {
    width: 100%;
    margin: auto;
    img {
        width: 100%;
        object-fit: cover;
    }
}

.arrow {
    position: absolute;
}

.arrow-left {
    left: 3%;
}

.arrow-right {
    right: 3%;
}

.no-arrow {
    content-visibility: hidden;
}

.page-count {
    color: rgb(255, 255, 255);
    font-size: 30px;
    position: absolute;
    bottom: 3%;
}