.navbar{
    @media screen and (max-width:991px){
        margin: 3% 9% 2% 9%;
    } 
    @include media-query(large){
        margin: 3% 5% 2% 5%;
    }
    @media screen and (min-width:1024px) {
        margin: 2% 5% 2% 6%;
    }
      @media screen and (min-width: 1440px) {
        margin: 2% 6% 2% 6%;
    }
     
}
.main{
    @media screen and (max-width:991px) {
        margin: 0 9%;
    }
}